@page "/NotFound"
@layout MainLayout

<img src="/notfound.png" alt="not-found"/>

<p>No related content were found to display!</p>

<a href="/" class="btn btn-dark mt-3">
    Encode &amp; Share!
</a>

@code {
    
}